
        p{
            font-family: Roboto, Arial;
        }
      .search-bar{
          display: block;
      }
      .thumbnail{
          width: 100%;

      }
      .video-title{

          font-weight: bold;
          font-size: 16px;
          margin-top: 0;
          line-height:22px;
          margin-bottom:0;

      }
      .video-preview {

          font-family: Arial;
      }
      .interior-box{
          margin-top: 12px;
          display:grid;
          grid-template-columns: 50px 1fr;
      }
      .video-info{
          width: 200px;
          margin-left: 7px;
          margin-top: 0;
      }
      .channel-picture{
          border-radius: 30px;
          width: 40px;
          vertical-align: top;
      }
      .picture-box{
          display: block;

      }
      .video-author{
          font-size: 12px;
          color: rgb(96, 96, 96);
          margin-bottom: 0;
          margin-top: 10px;

      }
      .video-stats{
          font-size: 12px;
          color:rgb(96, 96, 96);
          margin-top: 5px;
      }
      .video-div{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          column-gap: 20px;
          row-gap: 30px;

      }
      .sidebar{
          position: absolute;
          left: 0;
          top: 56px;
          bottom: 0;
          width: 72px;
          background-color: white;
          font-family: Roboto;

      }
      .sidebar-button-picture{
          width: 24px;
          height: 24px;
          margin-bottom: 5px;
      }
      .sidebar-button{
          height: 74px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          font-size: 8px;
      }
      .sidebar-button:hover{
          background-color: #eaeaea;
          transition: background-color 0.5s;
          cursor: pointer;
      }
      body{
          background-color: rgb(248, 248, 248);
      }
      .container-notifications{
          position: relative;
      }
      .notifications-count{
          position: absolute;
          top: 0;
          right: -2px;
          background-color: #d20a0a;
          font-family: Roboto;
          font-size: 8px;
          color: white;
          border-style: none;
          border-radius: 30px;
          padding: 2px 5px 2px 5px;



      }
